@font-face {
   font-family: Norse-Bold;
   src: url(/fonts/Norse-Bold.otf);
}

body {
   padding: 0;
   margin: 0;
   font-size: 10px;
}

.container {
   display: flex;

   font-family: Tahoma, Verdana, Geneva, sans-serif;
   /* min-height: 960px; */
}

.left {
   width: 37vw;
   background: url(/images/halie-west-25xggax4bSA-unsplash-crop.png) no-repeat;
   background-size: cover;
}

.right {
   width: 63vw;
   background-color: #f9fafb;
   min-height: 500px;

   display: flex;
   flex-direction: column;
}

.logo-banner {
   margin-top: 15vh;
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   align-items: center;

}

.logo {
   width: 6rem;
}

.logo-text {
   font-family: Norse-Bold;
   color: white;
   font-size: 6rem;
}

.desc {
   font-size: 1.6rem;
   /* font-weight:; */
   padding: 100px 80px 50px 50px;
}

.let-do-this {
   background-color: white;
   font-size: 1.8rem;
   padding: 20px 0px 20px 50px;
}

.form-area {
   background-color: white;
   font-size: 1.3rem;

}